<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.business.base.mapper.NovelMapper">
    <resultMap id="BaseResultMap" type="com.jh.common.model.base.Novel">
        <id column="n_id" jdbcType="VARCHAR" property="novelId"/>
        <result column="novel_name" jdbcType="VARCHAR" property="novelName"/>
        <result column="novel_author" jdbcType="VARCHAR" property="novelAuthor"/>
        <result column="novel_introduction" jdbcType="VARCHAR" property="novelIntroduction"/>
        <result column="novel_cover" jdbcType="VARCHAR" property="novelCover"/>
        <result column="novel_type" jdbcType="VARCHAR" property="novelType"/>
        <result column="novel_fee_standard" jdbcType="INTEGER" property="novelFeeStandard"/>
        <result column="novel_fee_specific" jdbcType="INTEGER" property="novelFeeSpecific"/>
        <result column="novel_status" jdbcType="INTEGER" property="novelStatus"/>
        <result column="novel_chapter_number" jdbcType="INTEGER" property="novelChapterNumber"/>
        <result column="is_end" jdbcType="INTEGER" property="isEnd"/>
        <result column="novel_end_time" jdbcType="TIMESTAMP" property="novelEndTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    novel_id, novel_name, novel_author, novel_introduction, novel_cover, novel_type, novel_fee_standard,
    novel_fee_specific, novel_status, novel_chapter_number, is_end, novel_end_time, create_time, update_time
  </sql>

    <update id="updateByNovelId">
        update spd_novel
        <set>
            <if test="updated.novelName != null">
                novel_name = #{updated.novelName,jdbcType=VARCHAR},
            </if>
            <if test="updated.novelAuthor != null">
                novel_author = #{updated.novelAuthor,jdbcType=VARCHAR},
            </if>
            <if test="updated.novelIntroduction != null">
                novel_introduction = #{updated.novelIntroduction,jdbcType=VARCHAR},
            </if>
            <if test="updated.novelCover != null">
                novel_cover = #{updated.novelCover,jdbcType=VARCHAR},
            </if>
            <if test="updated.novelType != null">
                novel_type = #{updated.novelType,jdbcType=VARCHAR},
            </if>
            <if test="updated.novelFeeStandard != null">
                novel_fee_standard = #{updated.novelFeeStandard,jdbcType=INTEGER},
            </if>
            <if test="updated.novelFeeSpecific != null">
                novel_fee_specific = #{updated.novelFeeSpecific,jdbcType=INTEGER},
            </if>
            <if test="updated.novelStatus != null">
                novel_status = #{updated.novelStatus,jdbcType=INTEGER},
            </if>
            <if test="updated.novelChapterNumber != null">
                novel_chapter_number = #{updated.novelChapterNumber,jdbcType=INTEGER},
            </if>
            <if test="updated.isEnd != null ">
                is_end = #{updated.isEnd,jdbcType=INTEGER},
            </if>
            <if test="updated.novelEndTime != null">
                novel_end_time = #{updated.novelEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where novel_id=#{updated.novelId,jdbcType=VARCHAR}
    </update>

    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from spd_novel
        where 1=1
        <if test="novel.novelId != null">
            and n_id=#{novel.novelId,jdbcType=VARCHAR}
        </if>
        <if test="novel.novelName != null">
            and novel_name=#{novel.novelName,jdbcType=VARCHAR}
        </if>
        <if test="novel.novelAuthor != null">
            and novel_author=#{novel.novelAuthor,jdbcType=VARCHAR}
        </if>
        <if test="novel.novelIntroduction != null">
            and novel_introduction=#{novel.novelIntroduction,jdbcType=VARCHAR}
        </if>
        <if test="novel.novelCover != null">
            and novel_cover=#{novel.novelCover,jdbcType=VARCHAR}
        </if>
        <if test="novel.novelType != null">
            and novel_type like CONCAT('%',#{novel.novelType,jdbcType=VARCHAR},'%')
        </if>
        <if test="novel.novelFeeStandard != null">
            and novel_fee_standard=#{novel.novelFeeStandard,jdbcType=INTEGER}
        </if>
        <if test="novel.novelFeeSpecific != null">
            and novel_fee_specific=#{novel.novelFeeSpecific,jdbcType=INTEGER}
        </if>
        <if test="novel.novelStatus != null">
            and novel_status=#{novel.novelStatus,jdbcType=INTEGER}
        </if>
        <if test="novel.novelChapterNumber != null">
            and novel_chapter_number=#{novel.novelChapterNumber,jdbcType=INTEGER}
        </if>
        <if test="novel.isEnd != null">
            and is_end=#{novel.isEnd,jdbcType=INTEGER}
        </if>
        <if test="novel.novelEndTime != null">
            and novel_end_time=#{novel.novelEndTime,jdbcType=TIMESTAMP}
        </if>
        <if test="novel.createTime != null">
            and create_time=#{novel.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="novel.updateTime != null">
            and update_time=#{novel.updateTime,jdbcType=TIMESTAMP}
        </if>
    </select>
</mapper>