<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.business.base.mapper.NovelChapterMapper">
    <resultMap id="BaseResultMap" type="com.jh.common.model.base.NovelChapter">
        <id column="chapter_id" jdbcType="VARCHAR" property="chapterId"/>
        <result column="novel_id" jdbcType="VARCHAR" property="novelId"/>
        <result column="chapter_index" jdbcType="INTEGER" property="chapterIndex"/>
        <result column="chapter_name" jdbcType="VARCHAR" property="chapterName"/>
        <result column="chapter_content" jdbcType="LONGVARCHAR" property="chapterContent"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    chapter_id, novel_id, chapter_index, chapter_name, chapter_content, is_delete, create_time, update_time
  </sql>

    <select id="selectByNovelId" resultMap="BaseResultMap">
        select
        chapter_id, chapter_index, chapter_name
        from spd_novel_chapter
        where novel_id = #{novelId,jdbcType=VARCHAR}
        and is_delete = 2
        order by chapter_index asc
    </select>

    <update id="updateByChapterId">
        update spd_novel_chapter
        <set>
            <if test="updated.novelId != null">
                novel_id = #{updated.novelId,jdbcType=VARCHAR},
            </if>
            <if test="updated.chapterIndex != null">
                chapter_index = #{updated.chapterIndex,jdbcType=INTEGER},
            </if>
            <if test="updated.chapterName != null">
                chapter_name = #{updated.chapterName,jdbcType=VARCHAR},
            </if>
            <if test="updated.chapterContent != null">
                chapter_content = #{updated.chapterContent,jdbcType=LONGVARCHAR},
            </if>
            <if test="updated.isDelete != null">
                is_delete = #{updated.isDelete,jdbcType=INTEGER},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where chapter_id = #{updated.chapterId,jdbcType=VARCHAR}
    </update>
</mapper>