<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.business.base.mapper.NovelMapper">
    <resultMap id="BaseResultMap" type="com.jh.common.model.base.Novel">
        <id column="n_id" jdbcType="VARCHAR" property="novelId"/>
        <result column="novel_name" jdbcType="VARCHAR" property="novelName"/>
        <result column="novel_author" jdbcType="VARCHAR" property="novelAuthor"/>
        <result column="novel_introduction" jdbcType="VARCHAR" property="novelIntroduction"/>
        <result column="novel_cover" jdbcType="VARCHAR" property="novelCover"/>
        <result column="novel_type" jdbcType="VARCHAR" property="novelType"/>
        <result column="novel_fee_standard" jdbcType="INTEGER" property="novelFeeStandard"/>
        <result column="novel_fee_specific" jdbcType="INTEGER" property="novelFeeSpecific"/>
        <result column="novel_status" jdbcType="INTEGER" property="novelStatus"/>
        <result column="novel_chapter_number" jdbcType="INTEGER" property="novelChapterNumber"/>
        <result column="novel_end_time" jdbcType="TIMESTAMP" property="novelEndTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    novel_id, novel_name, novel_author, novel_introduction, novel_cover, novel_type, novel_fee_standard,
    novel_fee_specific, novel_statu, novel_chapter_number, novel_end_time, create_time, update_time
  </sql>
</mapper>