<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jh.business.base.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.jh.common.model.base.User">
        <id column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_password" jdbcType="CHAR" property="userPassword"/>
        <result column="user_head_portrait" jdbcType="VARCHAR" property="userHeadPortrait"/>
        <result column="user_real_name" jdbcType="VARCHAR" property="userRealName"/>
        <result column="user_gender" jdbcType="INTEGER" property="userGender"/>
        <result column="user_age" jdbcType="INTEGER" property="userAge"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="id_card" jdbcType="CHAR" property="idCard"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_id, user_name, user_password, user_head_portrait, user_real_name, user_gender,
        user_age, user_phone, id_card, user_email, is_delete, create_time, update_time
    </sql>

    <insert id="insertList">
        INSERT INTO spd_user(
        user_id,
        user_name,
        user_password,
        user_head_portrait,
        user_real_name,
        user_gender,
        user_age,
        user_phone,
        id_card,
        user_email,
        is_delete,
        create_time,
        update_time
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.userId,jdbcType=VARCHAR},
            #{element.userName,jdbcType=VARCHAR},
            #{element.userPassword,jdbcType=CHAR},
            #{element.userHeadPortrait,jdbcType=VARCHAR},
            #{element.userRealName,jdbcType=VARCHAR},
            #{element.userGender,jdbcType=INTEGER},
            #{element.userAge,jdbcType=INTEGER},
            #{element.userPhone,jdbcType=VARCHAR},
            #{element.userEmail,jdbcType=VARCHAR},
            #{element.isDelete,jdbcType=INTEGER},
            #{element.createTime,jdbcType=TIMESTAMP},
            #{element.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="updateByUserId">
        update spd_user
        <set>
            <if test="updated.userId != null">
                user_id = #{updated.userId,jdbcType=VARCHAR},
            </if>
            <if test="updated.userName != null">
                user_name = #{updated.userName,jdbcType=VARCHAR},
            </if>
            <if test="updated.userPassword != null">
                user_password = #{updated.userPassword,jdbcType=CHAR},
            </if>
            <if test="updated.userHeadPortrait != null">
                user_head_portrait = #{updated.userHeadPortrait,jdbcType=VARCHAR},
            </if>
            <if test="updated.userRealName != null">
                user_real_name = #{updated.userRealName,jdbcType=VARCHAR},
            </if>
            <if test="updated.userGender != null">
                user_gender = #{updated.userGender,jdbcType=INTEGER},
            </if>
            <if test="updated.userAge != null">
                user_age = #{updated.userAge,jdbcType=INTEGER},
            </if>
            <if test="updated.userPhone != null">
                user_phone = #{updated.userPhone,jdbcType=VARCHAR},
            </if>
            <if test="updated.idCard != null ">
                id_card = #{updated.idCard,jdbcType=VARCHAR},
            </if>
            <if test="updated.userEmail != null">
                user_email = #{updated.userEmail,jdbcType=VARCHAR},
            </if>
            <if test="updated.isDelete != null">
                is_delete = #{updated.isDelete,jdbcType=INTEGER},
            </if>
            <if test="updated.createTime != null">
                create_time = #{updated.createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updated.updateTime != null">
                update_time = #{updated.updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id=#{userId,jdbcType=VARCHAR}
    </update>
</mapper>