<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jh.business.demo.mapper.UserMapper">

<!--    <resultMap id="BaseResultMap" type="com.jh.model.base.User">-->
<!--        <id column="user_id" property="userId" jdbcType="VARCHAR"/>-->
<!--        <result column="user_name" property="userName" jdbcType="VARCHAR"/>-->
<!--        <result column="user_password" property="userPassword" jdbcType="CHAR"/>-->
<!--        <result column="user_headportrait" property="userHeadPortrait" jdbcType="VARCHAR"/>-->
<!--        <result column="user_realname" property="userRealName" jdbcType="VARCHAR"/>-->
<!--        <result column="user_gender" property="userGender" jdbcType="INTEGER"/>-->
<!--        <result column="user_age" property="userAge" jdbcType="INTEGER"/>-->
<!--        <result column="user_phone" property="userPhone" jdbcType="VARCHAR"/>-->
<!--        <result column="user_email" property="userEmail" jdbcType="VARCHAR"/>-->
<!--        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>-->
<!--        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>-->
<!--        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>-->
<!--    </resultMap>-->

    <insert id="insert" parameterType="com.jh.model.base.User">
        insert into spd_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userPassword != null">
                user_password,
            </if>
            <if test="userHeadPortrait != null">
                user_headportrait,
            </if>
            <if test="userRealName != null">
                user_realname,
            </if>
            <if test="userGender != null">
                user_gender,
            </if>
            <if test="userAge != null">
                user_age,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="userName != null">
                #{userName},
            </if>
            <if test="userPassword != null">
                #{userPassword},
            </if>
            <if test="userHeadPortrait != null">
                #{userHeadPortrait},
            </if>
            <if test="userRealName != null">
                #{userRealName},
            </if>
            <if test="userGender != null">
                #{userGender},
            </if>
            <if test="userAge != null">
                #{userAge},
            </if>
            <if test="userPhone != null">
                #{userPhone},
            </if>
            <if test="userEmail != null">
                #{userEmail},
            </if>
            <if test="isDelete != null">
                #{isDelete},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>

</mapper>