<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.common.rocketmq.mapper.RocketMqConsumerMapper">
    <resultMap id="BaseResultMap" type="com.jh.common.model.rocketmq.RocketMqConsumer">
        <id column="rocketmq_consumer_id" jdbcType="VARCHAR" property="rocketmqConsumerId"/>
        <result column="rocketmq_message_id" jdbcType="VARCHAR" property="rocketmqMessageId"/>
        <result column="transaction_id" jdbcType="VARCHAR" property="transactionId"/>
        <result column="message_topic" jdbcType="VARCHAR" property="messageTopic"/>
        <result column="message_consumer_group" jdbcType="VARCHAR" property="messageConsumerGroup"/>
        <result column="message_tag" jdbcType="VARCHAR" property="messageTag"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="consumer_status" jdbcType="VARCHAR" property="consumerStatus"/>
        <result column="consumer_count" jdbcType="INTEGER" property="consumerCount"/>
        <result column="max_consumer_count" jdbcType="INTEGER" property="maxConsumerCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        rocketmq_consumer_id, rocketmq_message_id, transaction_id, message_topic, message_consumer_group,
        message_tag, create_time, update_time, del_flag, consumer_status, consumer_count, max_consumer_count
    </sql>

    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_rocketmq_consumer
        where 1=1
        <if test="rocketmqConsumerId != null and rocketmqConsumerId != ''">
            and rocketmq_consumer_id=#{rocketmqConsumerId,jdbcType=VARCHAR}
        </if>
        <if test="rocketmqMessageId != null and rocketmqMessageId != ''">
            and rocketmq_message_id=#{rocketmqMessageId,jdbcType=VARCHAR}
        </if>
        <if test="transactionId != null and transactionId != ''">
            and transaction_id=#{transactionId,jdbcType=VARCHAR}
        </if>
        <if test="messageTopic != null and messageTopic != ''">
            and message_topic=#{messageTopic,jdbcType=VARCHAR}
        </if>
        <if test="messageConsumerGroup != null and messageConsumerGroup != ''">
            and message_consumer_group=#{messageConsumerGroup,jdbcType=VARCHAR}
        </if>
        <if test="messageTag != null and messageTag != ''">
            and message_tag=#{messageTag,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time=#{createTime,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and update_time=#{updateTime,jdbcType=VARCHAR}
        </if>
        <if test="delFlag != null">
            and del_flag=#{delFlag,jdbcType=INTEGER}
        </if>
        <if test="consumerStatus != null and consumerStatus != ''">
            and consumer_status=#{consumerStatus,jdbcType=VARCHAR}
        </if>
        <if test="consumerCount != null">
            and consumer_count=#{consumerCount,jdbcType=INTEGER}
        </if>
        <if test="maxConsumerCount != null">
            and max_consumer_count=#{maxConsumerCount,jdbcType=INTEGER}
        </if>
    </select>
</mapper>