<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.common.rocketmq.mapper.RocketMqConsumeMapper">
    <resultMap id="BaseResultMap" type="com.jh.common.model.rocketmq.RocketMqConsume">
        <id column="rocketmq_consume_id" jdbcType="VARCHAR" property="rocketmqConsumeId"/>
        <result column="rocketmq_message_id" jdbcType="VARCHAR" property="rocketmqMessageId"/>
        <result column="transaction_id" jdbcType="VARCHAR" property="transactionId"/>
        <result column="message_topic" jdbcType="VARCHAR" property="messageTopic"/>
        <result column="message_consumer_group" jdbcType="VARCHAR" property="messageConsumerGroup"/>
        <result column="message_tag" jdbcType="VARCHAR" property="messageTag"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="update_time" jdbcType="VARCHAR" property="updateTime"/>
        <result column="del_flag" jdbcType="INTEGER" property="delFlag"/>
        <result column="consume_status" jdbcType="VARCHAR" property="consumeStatus"/>
        <result column="consume_count" jdbcType="INTEGER" property="consumeCount"/>
        <result column="max_consume_count" jdbcType="INTEGER" property="maxConsumeCount"/>
    </resultMap>
    <sql id="Base_Column_List">
        rocketmq_consume_id, rocketmq_message_id, transaction_id, message_topic, message_consumer_group,
        message_tag, create_time, update_time, del_flag, consume_status, consume_count, max_consume_count
    </sql>

    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_rocketmq_consume
        where 1=1
        <if test="rocketmqConsumeId != null and rocketmqConsumeId != ''">
            and rocketmq_consume_id=#{rocketmqConsumeId,jdbcType=VARCHAR}
        </if>
        <if test="rocketmqMessageId != null and rocketmqMessageId != ''">
            and rocketmq_message_id=#{rocketmqMessageId,jdbcType=VARCHAR}
        </if>
        <if test="transactionId != null and transactionId != ''">
            and transaction_id=#{transactionId,jdbcType=VARCHAR}
        </if>
        <if test="messageTopic != null and messageTopic != ''">
            and message_topic=#{messageTopic,jdbcType=VARCHAR}
        </if>
        <if test="messageConsumerGroup != null and messageConsumerGroup != ''">
            and message_consumer_group=#{messageConsumerGroup,jdbcType=VARCHAR}
        </if>
        <if test="messageTag != null and messageTag != ''">
            and message_tag=#{messageTag,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null and createTime != ''">
            and create_time=#{createTime,jdbcType=VARCHAR}
        </if>
        <if test="updateTime != null and updateTime != ''">
            and update_time=#{updateTime,jdbcType=VARCHAR}
        </if>
        <if test="delFlag != null">
            and del_flag=#{delFlag,jdbcType=INTEGER}
        </if>
        <if test="consumeStatus != null and consumeStatus != ''">
            and consume_status=#{consumeStatus,jdbcType=VARCHAR}
        </if>
        <if test="consumeCount != null">
            and consume_count=#{consumeCount,jdbcType=INTEGER}
        </if>
        <if test="maxConsumeCount != null">
            and max_consume_count=#{maxConsumeCount,jdbcType=INTEGER}
        </if>
    </select>
</mapper>