<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.jh.business.qingyuan.mapper" />
        <option name="javaMapperPath" value="D:\PersonalProject\spdise\spd-business\spd-business-qingyuan\spd-business-qingyuan-dao\src\main\java" />
        <option name="javaModelPackage" value="com.jh.common.model.qingyuan" />
        <option name="javaModelPath" value="D:\PersonalProject\spdise\spd-common\spd-common-model\src\main\java" />
        <option name="lastDatabaseCrudChooseModuleName" value="spd-common-base" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="spd-api-base">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.jh.business.base.mapper" />
                  <option name="javaMapperPath" value="D:\PersonalProject\spdise\spd-business\spd-business-base\spd-business-base-dao\src\main\java\com\jh\business\base\mapper" />
                  <option name="javaModelPacakge" value="com.jh.common.model.base" />
                  <option name="javaModelPath" value="D:\PersonalProject\spdise\spd-common\spd-common-model\src\main\java\com\jh\common\model\base" />
                  <option name="javaServiceInterfacePackage" value="com.jh.business.base.service.impl" />
                  <option name="javaServiceInterfacePath" value="D:\PersonalProject\spdise\spd-business\spd-business-base\spd-business-base-service\src\main\java\com\jh\business\base\service\impl" />
                  <option name="javaServicePackage" value="com.jh.business.base" />
                  <option name="javaServicePath" value="D:\PersonalProject\spdise\spd-business\spd-business-base\spd-business-base-service\src\main\java\com\jh\business\base\service" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="D:\PersonalProject\spdise\spd-business\spd-business-base\spd-business-base-dao\src\main\resources\mapper" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="spd-common-base">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.jh.business.qingyuan.mapper" />
                  <option name="javaMapperPath" value="D:\PersonalProject\spdise\spd-business\spd-business-qingyuan\spd-business-qingyuan-dao\src\main\java" />
                  <option name="javaModelPacakge" value="com.jh.common.model.qingyuan" />
                  <option name="javaModelPath" value="D:\PersonalProject\spdise\spd-common\spd-common-model\src\main\java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="D:\PersonalProject\spdise\spd-business\spd-business-qingyuan\spd-business-qingyuan-dao\src\main\resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="qingyuan:t_class">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Clazz" />
                  <option name="moduleName" value="spd-common-base" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="qingyuan:t_student">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Student" />
                  <option name="moduleName" value="spd-common-base" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="qingyuan:t_teacher">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Teacher" />
                  <option name="moduleName" value="spd-common-base" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="spdise:spd_book">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Book" />
                  <option name="moduleName" value="spd-api-base" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="spdise:spd_chapter">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="SpdChapter" />
                  <option name="moduleName" value="spd-common-base" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="spdise:spd_novel_clicks">
              <value>
                <TableGenerateConfig>
                  <option name="columnOverrideList">
                    <list>
                      <MyColumnOverride>
                        <option name="columnName" value="create_time" />
                        <option name="javaType" value="java.lang.String" />
                      </MyColumnOverride>
                    </list>
                  </option>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="NovelClicks" />
                  <option name="moduleName" value="spd-common-base" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="spdise:spd_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="SpdUser" />
                  <option name="moduleName" value="spd-api-base" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useLomBokOnModel" value="true" />
        <option name="userMybatisPlus" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="D:\PersonalProject\spdise\spd-business\spd-business-qingyuan\spd-business-qingyuan-dao\src\main\resources" />
      </ProjectProfile>
    </option>
  </component>
</project>